<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Delete User</title>
</head>

<body>

<div class="container">

    <h3>User Directory</h3>
    <hr>

    <p class="h4 mb-4">Delete User</p>

    <form action="#" th:action="@{/admin/delete}" th:object="${user}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}">

        <input type="text" th:field="*{name}" class="form-control mb-4 col-4" placeholder="name">

        <input type="text" th:field="*{surname}" class="form-control mb-4 col-4" placeholder="surname">

        <input type="text" th:field="*{age}" class="form-control mb-4 col-4" placeholder="age">

        <input type="text" th:field="*{email}" class="form-control mb-4 col-4" placeholder="email">

        <input type="text" th:field="*{password}" class="form-control mb-4 col-4" placeholder="password">

        <input type="text" th:field="*{confirmPassword}" class="form-control mb-4 col-4" placeholder="confirmPassword">


        <div class="form-group row">
            <label  class="col-sm-2 col-form-label col-form-label-lg">Role</label>
            <div class="col-sm-10">

                <select th:name="roleId">
                    <option th:each="role : ${roles}"
                            th:value="${role.getId()}"
                            th:text="${role.getRole()}">
                    </option>
                </select></td>

            </div>
        </div>


        <button type="submit" class="btn btn-danger col-2">Delete</button>

    </form>

    <hr>
    <a th:href="@{/admin-page}">Back to Admin Page</a>

</div>
</body></html>